.DS_Store
DalsaeJS_Ver/dist/electron/*
DalsaeJS_Ver/dist/web/*
DalsaeJS_Ver/build/*
DalsaeJS_Ver/Data/*
DalsaeJS_Ver/Image/*
DalsaeJS_Ver/Skin/*
DalsaeJS_Ver/Sound/*
Dalsae/Data/*
!build/icons
DalsaeJS_Ver/node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
DalsaeJS_Ver/src/renderer/APIKey.js
StreamingBridge/.vs
StreamingBridge/StreamingBridge/bin
StreamingBridge/StreamingBridge/obj
DalsaeJS_Ver/StreamingBridge/*
public/
*/electron-builder-output-dir
DalsaeTS_Ver/src/views/Test/favorite_tweet.json
DalsaeTS_Ver/src/Managers/favorite_tweet.json
DalsaeTS_Ver/src/Interfaces/DalsaeDatas/AppKeys.ts
DalsaeTS_Ver/node_modules/
