.DS_Store
MainSrc/dist/electron/*
MainSrc/dist/web/*
MainSrc/build/*
MainSrc/Data/*
MainSrc/Image/*
MainSrc/Skin/*
MainSrc/Sound/*
Dalsae/Data/*
!build/icons
MainSrc/node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
MainSrc/src/renderer/APIKey.js
StreamingBridge/.vs
StreamingBridge/StreamingBridge/bin
StreamingBridge/StreamingBridge/obj
MainSrc/StreamingBridge/*
public/
*/electron-builder-output-dir
Dalsae/src/views/Test/favorite_tweet.json
Dalsae/src/Managers/favorite_tweet.json
Dalsae/src/Interfaces/DalsaeDatas/AppKeys.ts
