.v-app-bar {
  box-shadow: none !important;
}
.v-bottom-navigation {
  justify-content: left !important;
  padding: 4px !important;
}
.v-toolbar__content,
.v-toolbar__extension {
  padding: 4px !important;
}

.toolbar-content {
  padding-left: 4px;
}

.v-text-field-outlined {
  margin-top: 4px !important;
}
.container{
  padding: 0px !important;
}
.v-card{
  box-shadow: none !important;

}
.v-input--selection-controls{
  margin-top: 0px !important;
  padding-top: 0px !important;
}
.v-messages{
  min-height: 4px !important;
}
.v-list-item{
  padding: 0px 4px !important;
}
.v-list{
  padding: 4px !important;
}
.v-list-item__content{
  padding: 0px !important;
}
.v-application{
  // line-height: normal !important;
}
.v-toolbar__content, .v-toolbar__extension{
  align-items: baseline !important;
  padding:  0px !important;
}
.v-dialog--fullscreen {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}
.v-list-item__subtitle{
  white-space: inherit !important;
}
.tab-name{
  text-transform:  none !important;
}
.v-tabs-bar{
  height: 60px !important;
}
.v-footer{
  padding: 0px !important;
  align-items: baseline !important;
}

.app-alert {
  // background-color: rgba(0, 1, 1, 0.137);
  pointer-events: none;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: 10;
  align-items: center;
  width: 100vw;
}
.url {
  color: #1d9bf0;
}
.url:hover {
  cursor: pointer;
}