.v-app-bar {
  box-shadow: none !important;
}
.v-bottom-navigation {
  justify-content: left !important;
  padding: 4px !important;
}
.v-toolbar__content,
.v-toolbar__extension {
  padding: 4px !important;
}

.toolbar-content {
  padding-left: 4px;
}

.v-text-field-outlined {
  margin-top: 4px !important;
}
.container{
  padding: 0px !important;
}
.v-card{
  box-shadow: none !important;

}
.v-input--selection-controls{
  margin-top: 0px !important;
  padding-top: 0px !important;
}
.v-messages{
  min-height: 4px !important;
}
.v-list-item{
  padding: 0px 4px !important;
}
.v-list{
  padding: 4px !important;
}
.v-list-item__content{
  padding: 0px !important;
}
.v-application{
  // line-height: normal !important;
}